<div class="container mt-5 mb-5">
  <h1 class="text-color">About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officia nemo
    deserunt ratione eum ut optio id, aperiam accusamus dolore rerum
    praesentium? Commodi rem voluptas veritatis recusandae eum perferendis
    assumenda. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta
    quae voluptas cupiditate repudiandae facilis dolorem nam consequuntur
    deserunt! Accusantium, voluptatum odio non animi in voluptas eum quae nihil
    ad quos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio
    laboriosam, sequi accusamus, beatae voluptates cum fugiat labore, quidem
    eligendi nemo ducimus autem fugit deserunt neque ullam adipisci. Iusto,
    cumque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
    officiis, illo alias, deserunt inventore perferendis dignissimos sapiente
    placeat, totam laboriosam dolorem explicabo ad. Maiores, a facilis
    aspernatur praesentium id doloribus.
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, illo
    ex? Nihil molestiae ipsam esse reiciendis alias laborum hic facere itaque,
    voluptas quod iste vitae commodi quisquam in placeat quos. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Soluta, excepturi itaque?
    Consequatur, pariatur itaque quas quae est repellat numquam deserunt
    quibusdam quia odio libero non architecto, animi laborum excepturi
    temporibus?
    <br />
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste mollitia
    quaerat itaque odio? Veritatis, adipisci, culpa cum impedit ratione dicta
    sint eius exercitationem deleniti quos repellendus? Molestias nihil eius
    velit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod hic
    alias excepturi repudiandae pariatur? Blanditiis eum, sequi, inventore, id
    repellendus laboriosam minus reprehenderit earum accusantium consectetur
    aliquam explicabo ea consequuntur. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Repellendus reiciendis itaque incidunt dicta dolore
    deleniti dolor ducimus magni! Explicabo odit illum fuga. Quos sit, sed earum
    rerum ipsa aliquid nostrum?
    <br />
  </p>
</div>
